@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
}
html {
  margin-left: 10%;
  margin-right: 10%;
}

.main {
  border: 1px solid red;
}

/*
Responsivnesss
*/
@media (max-width: 375px) {
  body {
    background-color: gray;
  }
  html {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    display: flex;
    min-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    background-color: red;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
